<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/device-emulator-console.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ERROR-FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/device-emulator-console.errors.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n%nopex</pattern>
        </encoder>
    </appender>

    <logger name="artavd.devices" level="info">
        <appender-ref ref="CONSOLE" />
    </logger>

    <root level="debug">
        <appender-ref ref="FILE" />
        <appender-ref ref="ERROR-FILE" level="error" />
    </root>
</configuration>