<configuration>
    <appender name="LOG" class="ch.qos.logback.core.FileAppender">
        <file>logs/device-emulator-console.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ERRORS" class="ch.qos.logback.core.FileAppender">
        <file>logs/device-emulator-console.errors.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="SPRING" class="ch.qos.logback.core.FileAppender">
        <file>logs/device-emulator-console.spring.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n%nopex</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="debug">
        <appender-ref ref="SPRING" />
    </logger>

    <logger name="artavd.devices" level="debug">
        <appender-ref ref="CONSOLE" level="info" />
        <appender-ref ref="LOG" />
    </logger>

    <root level="error">
        <appender-ref ref="ERRORS" />
    </root>

</configuration>